@charset "UTF-8";

/* Colors */
:root {
  --white: #f9f9f9;
  --charcoal: #333;
  --normal: 400;
}
/* General Styling */
* {
  list-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  max-width: 100vw;
  max-height: 100vh;

}
body {
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-size: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* Common */

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
} 

section {
  width: 100%;
  height: 100vh;
}
/* Header */
header {
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0;
  align-items: center;
}
.top-bnr {
  height: 0;
  overflow: hidden;
}
.logo {
  position: absolute;
  font-family: 'Alata', sans-serif;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 2.4rem;
  letter-spacing: 0.05em;
  color: var(--charcoal);
  text-align: center;
  position: fixed;
  top: .8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 300;
  display: inline-block;
}

.logo-cart {
  font-family: 'Alata', sans-serif;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 2.4rem;
  letter-spacing: 0.05em;
  color: var(--charcoal);
  text-align: center;
  position: fixed;
  top: .8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 500;
  display: inline-block;
}
.right-menu {
  display: none;
}
.right-menu-cart {
  display: none;
}
.toggle-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: #fff;
  display: flex;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  z-index: 1100;
}
.toggle-btn .icon {
  display: flex;
  background: url(../images/icon_hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
}
.toggle-btn.active .icon {
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: fixed;
  left: .8rem;
  top: 1rem;
  width: 24px;
  height: 24px;
  z-index: 1100;
}
.left-menu {
  position: fixed;
  width: 263.6px;
  height: 815px;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-100%,0,0);
}
.left-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0,0,0);
  transition: all 500ms cubic-bezier(.645,.045,.355,1);
  -webkit-transition: all 500ms cubic-bezier(.645,.045,.355,1);
}
.menulist {
  margin-top: 3rem;
}
.menulist-wrap {
  flex-direction: column;
}
.menulist-wrap a {
  font-size: .75rem;
  font-weight: var(--normal);
  line-height: 30px;
  padding: .3rem 1rem 0 1rem;
  color: #333;
  box-sizing: border-box;
}

.prd-cate li {
  padding-top: .3rem;
}

.prd-cate2 {
  margin-top: 1rem;
}

.prd-cate #shop::after {
  width: 8px;
  height: 30px;
  content: url(../images/icon_arrow_right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: fixed;
  right: 2rem;
  text-align: center;
  line-height: 30px;
}
.prd-cate #shop.active::after {
  content: none;
}
.prd-cate #shop.active::before {
  width: 8px;
  height: 30px;
  content: url(../images/icon_arrow_left.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: fixed;
  left: 1.3rem;
  text-align: center;
  line-height: 30px;
}
.prd-cate #shop.active {
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: -0.5rem;
}

.prd-cate #board::after {
  width: 8px;
  height: 30px;
  content: url(../images/icon_arrow_right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: fixed;
  right: 2rem;
  text-align: center;
}

.cate-sub li {
  padding-top: .5rem;
  text-align: left;
}
.left-menu .shop.active {
  opacity: 1;
  visibility: visible;
  transition: .3s;
  z-index: 1100;
  transform: translateX(0);
}
.left-menu .shop {
  width: 100%;
  position: absolute;
  top: 5rem;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  transform: translateX(1%);
  overflow-x: hidden;
}

.left-menu .board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  margin-top: 3rem;
}
.left-menu .board-text {
  font-weight: 600;
}
.left-menu .board-text::before {
  width: 8px;
  height: 30px;
  content: url(../images/icon_arrow_left.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: fixed;
  left: 1.3rem;
  text-align: center;
  line-height: 30px;
}


.left-menu .board-li {
  text-align: center;
}
.left-menu .board.active {
  opacity: 1;
  visibility: visible;
  transition: .3s;
  z-index: 1100;
}
.insta {
  margin-top: 1rem;
}
.insta a {
  padding-right: 1rem;
}
.fa-instagram {
  color: #333;
  font-size: 1rem;
}
.left-menu-global {
  margin-left: 1rem;
}
.left-menu-global a {
  padding: 0;
}
.left-menu-global span {
  font-size: .65rem;
  font-weight: var(--normal);
  color: #333;
}

.left-menu-copy {
  margin-top: 1.5rem;
  margin-left: 1rem;
  font-size: .6rem;
  color: #999;
}
.left-menu-d {
  display: none;
}

/* main */

.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1,100vw);
  grid-template-rows: repeat(6,100vh);
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.grid-item {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}
.scroll {
  scroll-snap-align: start;
  transition: .3s;
}


/* CART */
.cart-d {
  display: none;
}
.header-wrap {
  position: fixed;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  height: 7vh;
  z-index: 500;
  top: 0;
}
.cart-title {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
  color:  var(--charcoal);
  position: fixed;
  top: 1.2rem;
  font-weight: var(--normal);
  z-index: 500;
  right: 1rem;
}
.cart {
  width: 100%;
  height: 100vh;
  z-index: 400;
}
.cart-close a{
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
  z-index: 500;
  display: inline-block;
}
.cart-title-center {
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: var(--charcoal);
  line-height: 1.5;
  text-align: center;
}
.cart-text {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0.65rem;
  font-weight: var(--normal);
  color: #555;
  text-align: center;
  width: 100%;
}
.cart-btn {
  position: absolute;
  top: 13.62rem;
  left: 0rem;
  right: 0rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 92vw;
}
.cart-btn a {
  width: 92vw;
  height: 2.5rem;
  font-size: .65rem;
  box-sizing: border-box;
  color: var(--white);
  font-weight: var(--normal);
  line-height: 2.5rem;
}
.cart-btn1 {
  background-color: #999;
  margin-bottom: .63rem;
}
.cart-btn1:hover {
  background-color: #333;
}
.cart-btn2 {
  background-color: #999;
  margin-bottom: .63rem;
}
.cart-btn2:hover {
  background-color: #333;
}
.cart-btn3 {
  background-color: #333;
}
.cart-btn3:hover {
  background-color: #999;
}
.cart-text2 {
  position: absolute;
  top: 25rem;
  left: 0rem;
  right: 0rem;
  margin: 0 auto;
  width: 92vw;
  
}
.cart-text2 p {
  font-size: .65rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--charcoal);
  font-weight: 500;
}
.cart-text2 li {
  margin-top: 0.6rem;
  font-size: .45rem;
  color: #999;
  font-weight: var(--normal);
  line-height: 1.5;
}
.footer-wrapper-cart {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 32rem;
  bottom: 1rem;
  width: 100%;
}
.footer1-cart {
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
.footer2-cart {
  margin-top: .4rem;
}
.footer2-cart ul li {
  display: inline-flex;
  margin-right: .6rem;
}
.footer2-cart a {
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
.footer3-cart a {
  margin-top: .4rem;
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
.footer4-cart {
  margin-top: .4rem;
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
.footer5-cart {
  margin-top: .4rem;
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
/* Login */
.login-d {
  display: none;
}
.login {
  width: 100%;
  height: 100vh;
  z-index: 400;
}
.login h2 {
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: var(--charcoal);
  line-height: 1.5;
  text-align: center;
}

.login-wrapper {
  width: 92vw;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.login-form {
  position: absolute;
  top: 9rem;
  width: 92vw;
}
.int-area {
  width: 92vw;
  height: 40px;
  border: 1px solid #ddd;
}
.int-area:nth-child(2) {
  margin-top: 1rem;
}
.int-area:hover {
  border: 1px solid #333;
}
.int-area input[placeholder] {
  font-size: .65rem;
  line-height: 2.5rem;
  padding-left: .6rem;
}
input::placeholder {
  color: #ddd;
}
.int-area:nth-child(2) {
  margin-bottom: 0;
}
.caption {
  margin-top: .4rem;
  margin-bottom: .8rem;
}
.caption a{
  font-size: xx-small;
  color: #999;
  font-weight: var(--normal);
  letter-spacing: -0.01rem;
  text-decoration: underline;
  margin-right: .6rem;
}
.caption a:hover {
  color: #333;
}
.btn-area {
  width: 92vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.btn-area button {
  margin-bottom: .6rem;
  font-size: .65rem;
  font-weight: var(--normal);
  line-height: 2.5rem;
  cursor: pointer;
  text-align: center;
  width: 92vw;
}
.btn-area button:nth-child(2) {
  background-color: #444;
}
.btn-area button:nth-child(2):hover {
  background-color: #999;
}
.btn-login {
  background-color: #999;
}
.btn-login:hover {
  background-color: #444;
}
.footer-wrapper-login {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 30rem;
  bottom: 1rem;
  width: 100%;
}
.footer1-login {
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
.footer2-login {
  margin-top: .4rem;
}
.footer2-login ul li {
  display: inline-flex;
  margin-right: .6rem;
}
.footer2-login a {
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
.footer3-login a {
  margin-top: .4rem;
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
.footer4-login {
  margin-top: .4rem;
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}
.footer5-login {
  margin-top: .4rem;
  font-size: .45rem;
  font-weight: 350;
  line-height: 1.5;
}

/* Account */
.account {
  width: 100%;
  height: 100vh;
  position: relative;
  left: 0;
  right: 0;
}
.account-d {
  display: none;
}

.account h2 {
  color: var(--charcoal);
  font-size: .75rem;
  font-weight: 400;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--charcoal);
  letter-spacing: .05rem;
}

.order {
  position: absolute;
  width: 100%;
  top: 9rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

}
.order-title {
font-size: .65rem;
font-weight: 500;
color: var(--charcoal);
position: absolute;

left: 0;
right: 0;
margin: 0 auto;
width: 420px;
height: 50px;
top: -20px;
padding: 1rem .6rem;
border: 1px solid #ddd;
padding: .5rem .6rem;
display: flex;
}
.order-title p {
margin-right: .2rem;
}
.order-title small {
color: #888;
font-weight: var(--normal);
}
.order ul {
display: flex;
flex-direction: row;
font-size: .65rem;
}
.order .number {
font-weight: 500;
color: var(--charcoal);
}
.order1 {
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
width: 420px;
height: 50px;
top: 29px;
}
.order1 li {
width: 105px;
height: 50px;
line-height: 20px;
border: 1px solid #ddd;
display: flex;
flex-direction: column;
text-align: center;
color: var(--charcoal);
}
.order1 li:nth-child(1), .order1 li:nth-child(2),  .order1 li:nth-child(3) {
border-right: none;
}
.order2 {
position: absolute;
width: 420px;
height: 50px;
top: 4.9rem;
left: 0;
right: 0;
margin: 0 auto;
}
.order2 li {

border: 1px solid #ddd;
display: flex;
flex-direction: row;
width: 140px;
height: 50px;
line-height: 50px;
color: var(--charcoal);
}
.order2 li:nth-child(1), .order2 li:nth-child(2) {
border-right: none;
}
.order2 p {
padding-top: .2rem;
padding-left: .6rem;
}
.order2 .number {
  text-align: right;
  margin-left: 16vw;
}
.order-text {
position: absolute;
width: 420px;
height: 150px;
top: 6.2rem;
left: 0;
right: 0;
margin: 0 auto;
display: flex;
justify-content: center;
background-color: rgba(255, 255, 255, .85);
}
.order-text p {
width: 92vw;
font-size: .65rem;
color: var(--charcoal);
display: flex;
align-items: center;
}
.order-text a {
  text-align: center;
  width: 92vw;
}

.account-i {
position: absolute;
top: 51vh;
left: 0;
right: 0;
bottom: 1rem;
display: grid;
grid-template-columns: repeat(2, 45vw);
grid-template-rows: repeat(4,20vw);
gap: 2vw;
width: 92vw;
margin: 0 auto;
}
.account-text {
border: 1px solid #ddd;
font-size: .65rem;
font-weight: var(--normal);
text-align: center;
color: var(--charcoal);
padding-top: 2rem;
}
.account-text:hover {
border: 1px solid #333;
}
.account-icon img {
width: 20px;
height: 20px;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
}
.footer-wrapper-account {
  position: absolute;
  background-color: transparent;
  left: 1rem;
  right: 1rem;
  width: 100%;
  bottom: 1rem;
  top: 45rem;  
}
/* Search */
.searchbar-wrap {
  margin-top: 3rem;
  border-bottom: 1px solid #333333;
  width: 215px;
  position: relative;
  right: 2rem;
  left: 1rem;
}

.go {
  background-image: url(../images/icon_magnifyingglass.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 600;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -.5rem;
  right: 1%;
}
.search-d {
  width: 100%;
  height: 100vh;
  background-color: rgba(250, 250, 250, .8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1200;
  opacity: 0;
  visibility: hidden;
}
.search-d.active {
  opacity: 1;
  visibility: visible;
  transition: .3s;
}
.search-close {
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  z-index: 1300;
  display: inline-block;
}
#search-form {
  position: relative;
  top: 36%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.search-d p {
  position: absolute;
  top: 58vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: .74rem;
  line-height: 1.7;
}

#search-d[value="Start Searching"] {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--charcoal);
  text-align: center;
  padding: 1rem 0;
}
#search-d {
  border-bottom: 1px solid #333;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.footer-wrapper {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 19rem;
  bottom: 1rem;
  width: 100%;
  height: 100vh;

}

.footer1, .footer2 a, .footer3 a, .footer4, .footer5 {
  font-weight: var(--normal);
  font-size: .63rem;
  line-height: 1.7;
  color: #333;
}
.footer2 {
  margin-top: 1.25rem;
}
.footer2 ul li {
  display: inline-flex;
  margin-right: 1rem;
}
.footer3 a:nth-child(2) {
  margin-left: 1rem;
}
.footer3 {
  margin-top: 1.25rem;
}
.footer4 {
  margin-top: 1.25rem;
}
.footer5 {
  margin-top: 1.25rem;
}
/* Desktop */

@media (min-width:768px) {
  /* Common */
  section {
    height: 100vh;
  }
  /* Header */
  .top-bnr {
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #111;
    z-index: 400;
  }
  .top-bnr-text {
    color: var(--white);
    text-align: center;
    font-weight: 300;
    font-size: .7rem;
    line-height: 30px;
  }
  .top-bnr-close {
    background-image: url(../images/icon_close_w.svg);
    position: absolute;
    right: 1.2rem;
    top: 7px;
    line-height: 16px;
    bottom: 53.67%;
    width: 17px;
    height: 17px;
  }
  .top-bnr.active {
    display: none;
  }

  .logo {
    width: 140px;
    left: 1.5rem;
    right: 90%;
    top: 2.75rem;
    color:  var(--charcoal);
    background-color: transparent;
  }

  .right-menu {
    list-style: none;
    padding-left: 0;  
    display: flex;
  }

  .top-nav {
    list-style: none;
    padding-left: 0;
    position: fixed;
    top: 2.8rem;
    right: 1.5rem;
    z-index: 300;
  }
  .top-nav li {
    display: inline-flex;
    padding: 0 .5rem;
  }
  .top-nav a {
    font-weight: var(--normal);
    font-size: .7rem;
    line-height: 26px;
    color: var(--charcoal);
    z-index: 300;
    
  }
  .top-nav a::after {
    content: '';
    display: block;
    background-color: var(--charcoal);
    height: 1px;
    width: 0%;
    transition: width .3s;
    margin-top: -4px;
  }

  .top-nav a:hover::after {
    width: 100%;
    transition: width .3s;
  }

  .top-nav span {
    font-size: .65rem;
    margin-top: .5rem;
    font-weight: var(--normal);
    color: var(--charcoal);
  }
  .top-nav li:nth-child(5) {
    padding-right: 0;
  }
  
  .toggle-btn {
    display: none;
  }
  .toggle-btn.active .icon {
    display: none;
  }
  .left-menu {
    display: none;
  } 
  .left-menu-d {
    position: fixed;
    flex-direction: column;
    display: flex;
    left: 1.5rem;
    top: 5.5rem;
    z-index: 500;
  }
  .left-menu-d a::after {
    content: '';
    width: 0%;
    background-color: #333;
    height: 1px;
    display: block;
    transition: width  .3s;
  }
  .left-menu-d a:hover::after {
    width: 100%;
    transition: width .3s;
  }
  .aco-list {
    list-style: none;
    padding: 0;
  }
  .aco-list li {
    padding: 0.4rem 1rem 0 0;
  }
  .aco-list li a {
    display: inline-block;
    font-size: .7rem;
    color: var(--charcoal);
    font-weight: var(--normal);
    height: 15px;
   
  }
  .menu-list {
    display: none;
    margin-top: .2rem;
  }

  /* Cart */
  .header-wrap {
    right: 1rem;
    width: 100%;
    height: 60px;
  }
  .cart-title {
    display: none;
  }
  .cart-title-center {
    font-size: .85rem;
  }
  .cart-text {
    top: 10rem;
  }
  .logo-cart {
    text-align: left;
    left: 1.5rem;
    top: 1rem;
  }
  .cart-close {
    display: none;
  }
  .right-menu-cart {
    height: 50px;
    list-style: none;
    padding-left: 0;  
    display: flex;
  }
  .top-nav-cart {
    list-style: none;
    padding-left: 0;
    position: fixed;
    top:-1.5rem;
    right: 1.5rem;
    z-index: 500;
  }
  .top-nav-cart li {
    display: inline-flex;
    padding: 2.75rem .5rem;

  }
  .top-nav-cart li:nth-child(5) {
    padding-right: 0;
  }
  .top-nav-cart a {
    font-weight: var(--normal);
    font-size: .7rem;
    line-height: 26px;
    color: var(--charcoal);
  }
  .top-nav-cart span {
    font-size: .5rem;
    margin-top: .5rem;
    font-weight: var(--normal);
    color: var(--charcoal);
  }
  .cart-btn {
    width: 420px;
  }
  .cart-btn a{
    width: 420px;
  }
  .cart-text2 {
    width: 420px;
  }
  .footer-wrapper-cart-d {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 1rem;
    line-height: 1.7;
    top: 83%;
    left: 0;
    right: 0;
    background-color: transparent;
  }

  .cart-d {
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 455px;
    top: 0; 
    right:0;
    z-index: 500;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: .3s;
  }
  .cart-d.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .cart-d h2 {
    color: var(--charcoal);
    font-size: .75rem;
    font-weight: 400;
    position: absolute;
    top: 1.875rem;
    left: 1.5rem;
    color: var(--charcoal);
    letter-spacing: .05rem;
  }
  .cart-close-d {
    background-image: url(../images/icon_close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 700;
    text-align: center;
    display: inline-block; 
  }
  .cart-d p {
    position: absolute;
    top: 8.25rem;
    left: 1.5rem;
    font-size: .65rem;
    font-weight: var(--normal);
    color: #555;
  }
  .cart-d-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .cart-d-text a {
    width: 407px;
    height: 2.5rem;
    font-size: .65rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-weight: var(--normal);
    padding-top: .8rem
  }
  .cart-d a:hover {
    background-color: #999;
  }
  /* Login */
  .logo-login {
    top: 1.2rem;
    left: 1rem;
  }
  .login-wrapper {
    width: 420px;
  }
  .login-form {
    width: 420px;

  }
  .int-area {
    width: 420px;
  }
  .login h2 {
    font-size: .85rem;
  }
  .btn-area {
    width: 420px;
  }
  .btn-area button {
    width: 420px;
  }
  .footer-wrapper-login {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    line-height: 1.7;
    justify-content: space-around;
    top: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .login-d {
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 455px;
    top: 0; 
    right:0;
    z-index: 500;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: .3s;
  }
  .login-d.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .login-d h2 {
    color: var(--charcoal);
    font-size: .75rem;
    font-weight: 400;
    position: absolute;
    top: 12rem;
    left: 1.5rem;
    color: var(--charcoal);
    letter-spacing: .05rem;
  }
  .login-close-d {
    background-image: url(../images/icon_close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 700;
    text-align: center;
    display: inline-block; 
  }
  .login-wrapper-d {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .login-form-d {
    position: absolute;
    width: 407px;
    top: 14rem;
  }
  .int-area-d {
    width: 407px;
    height: 2.6rem;
    border: 1px solid #ddd;
  }
  .int-area-d:nth-child(2) {
    margin-top: 1rem;
  }
  .int-area-d:hover {
    border: 1px solid #333;
  }
  .int-area-d input[placeholder] {
    font-size: .65rem;
    line-height: 2.5rem;
    padding-left: .6rem;
  }
  .int-area-d:nth-child(2) {
    margin-bottom: 0;
  }
  .caption-d {
    margin-top: .6rem;
    margin-bottom: 1rem;
  }
  .caption-d a{
    font-size: xx-small;
    color: #999;
    font-weight: var(--normal);
    letter-spacing: -0.01rem;
    text-decoration: underline;
    margin-right: .6rem;
  }
  .caption-d a:hover {
    color: #333;
  }
  .btn-area-d {
    display: flex;
    flex-direction: row;
  }
  .btn-area-d button {
    width: 198.5px;
    height: 2.5rem;
    font-size: .65rem;
    font-weight: var(--normal);
    color: #fff;
    align-items: center;
    line-height: 2.5rem;
    cursor: pointer;
  }
  .btn-area-d button:nth-child(2) {
    background-color: #444;
  }
  .btn-area-d button:nth-child(2):hover {
    background-color: #999;
  }
  .btn-login-d {
    background-color: #999;
    margin-right: 10px;
  }
  .btn-login-d:hover {
    background-color: #444;

  }
  /* Search */
  .search-close {
    top: 4rem;
    right: 6rem;
  }
  .search-d p {
    top: 53vh;
  }
  /* Account */
  .order-title {
    width: 420px;
    height: 50px;
    top: -20px;
    padding: 1rem .6rem;
  }
  .order1 {
    width: 420px;
    height: 50px;
    top: 29px;
  }
  .order1 li {
    width: 105px;
    height: 50px;
    line-height: 20px;
  }
  .order2 {
    width: 420px;
    height: 50px;
    top: 4.9rem;
  }
  .order2 li {
    width: 140px;
    height: 50px;
    line-height: 50px;
  }
  .order-text {
    width: 420px;
    height: 150px;
    top: 7.7rem;
  }
  .order-text p {
    width: 420px;
  }
  .order-text a {
    width: 420px;
  }
  .order2 .number {
    text-align: right;
    margin-left: 5rem;
  }
  .account h2 {
    font-size: .85rem;
  }
  .account-i {
    grid-template-columns: repeat(2, 202px);
    grid-template-rows: repeat(4,70px);
    gap: 16px;
    width: 420px;
    top: 18rem;
    }
  .account-d {
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 455px;
    top: 0; 
    right:0;
    z-index: 700;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: .3s;
  }
  .account-d.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .account-d h2 {
    color: var(--charcoal);
    font-size: .75rem;
    font-weight: 400;
    position: absolute;
    top: 1.875rem;
    left: 1.5rem;
    color: var(--charcoal);
    letter-spacing: .05rem;
  }
  .account-close-d {
    background-image: url(../images/icon_close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 600;
    text-align: center;
  }
  .order-d {
    position: absolute;
    top: 7.5rem;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

  }
.order-title-d {
  font-size: .65rem;
  font-weight: 500;
  color: var(--charcoal);
  position: absolute;
  top: -20px;
  width: 407px;
  height: 50px;
  border: 1px solid #ddd;
  padding: 1rem .6rem;
  display: flex;
}
.order-title-d p {
  margin-right: .2rem;
}
.order-title-d small {
  color: #888;
  font-weight: var(--normal);
}
.order-d ul {
  display: flex;
  flex-direction: row;
  font-size: .65rem;
}
.order-d .number {
  font-weight: 500;
  color: var(--charcoal);
}
.order1-d {
  position: absolute;
  top: 29px;
}
.order1-d li {
  width: 101.75px;
  height: 50px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 22px;
  color: var(--charcoal);
}
.order1-d li:nth-child(1), .order1-d li:nth-child(2),  .order1-d li:nth-child(3) {
  border-right: none;
}
.order2-d {
  position: absolute;
  top: 78px;
}
.order2-d li {
  width: 135.67px;
  height: 50px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 50px;
  color: var(--charcoal);
}
.order2-d li:nth-child(1), .order2-d li:nth-child(2) {
  border-right: none;
}
.order2-d p {
  padding-left: .6rem;
}
.order2-d .number {
  margin-left: 5.4rem;
}
.order-text-d {
  position: absolute;
  background-color: rgba(255, 255, 255, .85);
  width: 407px;
  height: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 6.2rem;
  display: flex;
  justify-content: center;
}
.order-text-d p {
  width: 100%;
  font-size: .65rem;
  color: var(--charcoal);
  display: flex;
  align-items: center;
  }

.order-text-d a {
  text-align: center;
  width: 100%;
}
.account-i-d {
  position: absolute;
  top: 17rem;
  left: 0;
  right: 0;
  bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 195.5px);
  grid-template-rows: repeat(4,70px);
  gap: 16px;
  width: 407px;
  margin: 0 auto;
  }

.account-text-d {
  border: 1px solid #ddd;
  font-size: .65rem;
  font-weight: var(--normal);
  text-align: center;
  color: var(--charcoal);
  padding-top: 2rem;
}
.account-text-d:hover {
  border: 1px solid #333;
}
.account-icon-d img {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: .5rem;
}

.footer-wrapper-account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 1.7;
  left: 0;
  right: 0;
  bottom: 1rem;
  }

 /* Main */
  .grid{
    position: absolute;
    top: 0;
    grid-template-columns: repeat(2,50vw);
    grid-template-rows: repeat(3,100vh);
  }
  .grid-item {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
  }
  /* Footer */
  .footer a {
    display: inline-block;
  }
  .footer a::after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--charcoal);
    transition: width .3s;
  }
  .footer a:hover::after {
    width: 100%;
    transition: width .3s;
  }
  .footer {
    position: static;
    background-color: transparent;
  }
  .footer-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 83%;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
  }

  .footer1, .footer2 a, .footer3 a, .footer4, .footer5 {
    font-size: .6rem;
    line-height: 1.5;
  }
 
  .footer2 {
    margin-top: 0;
   
  }
  .footer3 {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
   
  }
  .footer3 a:nth-child(2) {
    margin-left: 0;
  }
  .footer4 {
    margin-top: 0rem;
   
  }
  .footer5 {
    margin-top: 0;
  }
  .footer2 ul li {
    display: flex;
    margin-right: 0;
  }
}